image: Visual Studio 2017

version: 1.6.3.{build}

branches:
    only:
        - master

environment:
    matrix:
        - GOOS: windows
          GOARCH: amd64
          PREFIX: windows-amd64
          SUFFIX: .exe
        - GOOS: darwin
          GOARCH: amd64
          PREFIX: darwin-amd64
          SUFFIX: 
        - GOOS: linux
          GOARCH: amd64
          PREFIX: linux-amd64
          SUFFIX: 
        - GOOS: freebsd
          GOARCH: amd64
          PREFIX: freebsd-amd64
          SUFFIX: 
        - GOOS: netbsd
          GOARCH: amd64
          PREFIX: netbsd-amd64
          SUFFIX: 
        - GOOS: openbsd
          GOARCH: amd64
          PREFIX: openbsd-amd64
          SUFFIX: 
        - GOOS: dragonfly
          GOARCH: amd64
          PREFIX: dragonfly-amd64
          SUFFIX: 
        - GOOS: solaris
          GOARCH: amd64
          PREFIX: solaris-amd64
          SUFFIX: 
        - GOOS: windows
          GOARCH: 386
          PREFIX: windows-386
          SUFFIX: .exe
        - GOOS: linux
          GOARCH: 386
          PREFIX: linux-386
          SUFFIX: 
        - GOOS: freebsd
          GOARCH: 386
          PREFIX: freebsd-386
          SUFFIX: 
        - GOOS: netbsd
          GOARCH: 386
          PREFIX: netbsd-386
          SUFFIX: 
        - GOOS: openbsd
          GOARCH: 386
          PREFIX: openbsd-386
          SUFFIX: 
        - GOOS: linux
          GOARCH: arm
          GOARM: 5
          PREFIX: linux-armv5
          SUFFIX: 
        - GOOS: linux
          GOARCH: arm
          GOARM: 6
          PREFIX: linux-armv6
          SUFFIX: 
        - GOOS: linux
          GOARCH: arm
          GOARM: 7
          PREFIX: linux-armv7
          SUFFIX: 
        - GOOS: freebsd
          GOARCH: arm
          PREFIX: freebsd-arm
          SUFFIX: 
        - GOOS: netbsd
          GOARCH: arm
          PREFIX: netbsd-arm
          SUFFIX: 
        - GOOS: linux
          GOARCH: arm64
          PREFIX: linux-arm64
          SUFFIX: 
        - GOOS: linux
          GOARCH: ppc64
          PREFIX: linux-ppc64
          SUFFIX: 
        - GOOS: linux
          GOARCH: ppc64le
          PREFIX: linux-ppc64le
          SUFFIX: 
        - GOOS: linux
          GOARCH: mips64
          PREFIX: linux-mips64
          SUFFIX: 
        - GOOS: linux
          GOARCH: mips64le
          PREFIX: linux-mips64le
          SUFFIX: 
        - GOOS: linux
          GOARCH: mips
          PREFIX: linux-mips
          SUFFIX: 
        - GOOS: linux
          GOARCH: mipsle
          PREFIX: linux-mipsle
          SUFFIX: 
        - GOOS: linux
          GOARCH: s390x
          PREFIX: linux-s390x
          SUFFIX: 

clone_depth: 1

# scripts that run after cloning repository
install:
    - set GOVERSION=1.14
    - rmdir c:\go /s /q
    - appveyor DownloadFile https://storage.googleapis.com/golang/go%GOVERSION%.windows-amd64.msi
    - msiexec /i go%GOVERSION%.windows-amd64.msi /q
    - set PATH=C:\Go\bin;%PATH%
    - set GO111MODULE=on

# scripts that run before build
before_build:
    - go env
    - go version

# custom build scripts
build_script:
    - go build -ldflags="-s -w" -o "getnovel-%PREFIX%%SUFFIX%"
    - cd webui && go build -ldflags="-s -w" -o "getnovel-webui%PREFIX%%SUFFIX%"
    - cd .. && cd sbss && go build -ldflags="-s -w" -o "sbss%PREFIX%%SUFFIX%"
    - cd ..

# scripts that run after build
after_build:
    - mkdir "distrib\getnovel-webui%PREFIX%\templates" "distrib\getnovel-%PREFIX%\preset" "distrib\sbss-%PREFIX%\templates"
    - copy "%APPVEYOR_BUILD_FOLDER%\preset\*.*" "distrib\getnovel-%PREFIX%\preset\"
    - copy "%APPVEYOR_BUILD_FOLDER%\getnovel-%PREFIX%%SUFFIX%" "distrib\getnovel-%PREFIX%\getnovel%SUFFIX%"
    - copy "%APPVEYOR_BUILD_FOLDER%\webui\templates\*.*" "distrib\getnovel-webui%PREFIX%\templates\"
    - copy "%APPVEYOR_BUILD_FOLDER%\webui\getnovel-webui%PREFIX%%SUFFIX%" "distrib\getnovel-webui%PREFIX%\"
    - copy "%APPVEYOR_BUILD_FOLDER%\sbss\templates\*.*" "distrib\sbss-%PREFIX%\templates\"
    - copy "%APPVEYOR_BUILD_FOLDER%\sbss\sbss%PREFIX%%SUFFIX%" "distrib\sbss-%PREFIX%\"
    - cd distrib
    - 7z a "getnovel-%PREFIX%.7z" "getnovel-%PREFIX%"
    - 7z a "getnovel-webui%PREFIX%.7z" "getnovel-webui%PREFIX%"
    - 7z a "sbss-%PREFIX%.7z" "sbss-%PREFIX%"

artifacts:
    - path: distrib\getnovel-%PREFIX%.7z
      name: getnovel_package
    - path: distrib\getnovel-webui%PREFIX%.7z
      name: getnovel_webui_package
    - path: distrib\sbss-%PREFIX%.7z
      name: sbss_package
