<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <title>{{ .title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta name="description" content="{{ .title }}">

</head>
<body>
    <div id="app">
        <h2>{{ .title }}</h2>
    </div>
</body>
</html>