name: Go
on: [push]
jobs:
  Build:
    strategy:
      matrix:
        os: [ubuntu, macos, windows]
        include:
          - os: ubuntu
            image: ubuntu-latest
          - os: macos
            image: macos-latest
          - os: windows
            image: windows-latest

    runs-on: ${{ matrix.image }}
    steps:
    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.24
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Build GetNovel on Linux
      if: matrix.os == 'ubuntu'
      run: |
        env CGO_ENABLED=0 go build -ldflags="-s -w -X main.sha1ver=$(git rev-parse --short HEAD) -X 'main.buildTime=$(date)'" -o getnovel .
        mkdir ${{ matrix.os }}-amd64
        cp getnovel ${{ matrix.os }}-amd64/
        cp -r pdfpresets ${{ matrix.os }}-amd64/

    - name: Build GetNovel on macOS
      if: matrix.os == 'macos'
      run: |
        env CGO_ENABLED=0 GOOS=darwin GOARCH=amd64 go build -ldflags="-s -w -X main.sha1ver=$(git rev-parse --short HEAD) -X 'main.buildTime=$(date)'" -o getnovel-amd64 .
        env CGO_ENABLED=0 GOOS=darwin GOARCH=arm64 go build -ldflags="-s -w -X main.sha1ver=$(git rev-parse --short HEAD) -X 'main.buildTime=$(date)'" -o getnovel-arm64 .
        lipo -create -output getnovel getnovel-amd64 getnovel-arm64
        curl -sSL -o kindlegen.zip https://github.com/ystyle/kaf-cli/releases/download/kindlegen/KindleGen_Mac_64bit_v2_9.zip
        unzip kindlegen.zip
        mkdir ${{ matrix.os }}-amd64
        cp getnovel ${{ matrix.os }}-amd64/
        cp kindlegen ${{ matrix.os }}-amd64/
        cp -r pdfpresets ${{ matrix.os }}-amd64/

    - name: Build GetNovel on Windows
      if: matrix.os == 'windows'
      shell: cmd
      run: |
        for /F "tokens=*" %%R in ('git rev-parse --short HEAD') do set REV=%%R
        for /F "tokens=*" %%A in ('date /T') do set TODAY=%%A
        set CGO_ENABLED=0
        go build -ldflags="-s -w -X main.sha1ver=%REV% -X 'main.buildTime=%TODAY%'" -o getnovel.exe .

    - name: copy files on Windows
      if: matrix.os == 'windows'
      shell: bash
      run: |
        curl -sSL -o kindlegen.zip https://github.com/ystyle/kaf-cli/releases/download/kindlegen/kindlegen_win32_v2_9.zip
        unzip kindlegen.zip
        mkdir ${{ matrix.os }}-amd64
        cp getnovel.exe ${{ matrix.os }}-amd64/
        cp kindlegen.exe ${{ matrix.os }}-amd64/
        cp -r pdfpresets ${{ matrix.os }}-amd64/

    - name: Upload artifact getnovel-${{ matrix.os }}-amd64
      uses: actions/upload-artifact@v4
      with:
        name: getnovel-${{ matrix.os }}
        path: ${{ matrix.os }}-amd64

    - name: Pack release
      if: startsWith(github.event.ref, 'refs/tags/')
      uses: vimtor/action-zip@v1.1
      with:
        files: ${{ matrix.os }}-amd64/
        recursive: true
        dest: getnovel-${{ matrix.os }}.zip

    - name: upload Release
      if: startsWith(github.event.ref, 'refs/tags/')
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GH_TOKEN }}
        file: getnovel-${{ matrix.os }}.zip
        asset_name: getnovel-${{ matrix.os }}.zip
        tag: ${{ github.ref }}
        overwrite: true
